@using HMCodingWeb.ViewModels;
@model HMCodingWeb.Models.Exercise;
@{
    ViewData["Title"] = Model.ExerciseName;
    var listTheme = ViewBag.ListTheme as List<Theme>;
    var userInfo = ViewBag.UserInfo as User;
    var programLanguageList = ViewBag.ProgramLanguageList as List<ProgramLanguage>;
    var exerciseId = Model?.Id ?? 0;
    var userCreated = ViewBag.CreatedUser as User;
    if (userCreated == null)
    {
        userCreated = new User()
        {
            Id = Model?.UserCreatedId ?? 0,
            Username = "Unknown"
        };
    }
}

@section Links {
    <link rel="stylesheet" href="~/css/exercise-code.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/button-extend.css" asp-append-version="true">

}
@if (Model == null)
{
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            Không tìm thấy bài tập này hoặc bài tập đã bị xóa.
        </div>
    </div>
    return;
}

@* Hidden Value Here *@
<div id="hidden-value" class="d-none">
    <input type="hidden" id="exercise-id" value="@exerciseId"/>
    <input type="hidden" id="current-user-id" value="@userInfo?.Id" />
</div>

<div id="select-tab" class="">
    <a class="text-light text-decoration-none" asp-action="Index" asp-controller="Marking" asp-route-exId="@Model.Id" asp-route-myPost="true"><b>Xem các lần nộp</b></a>
    <span id="view-title" class=""><b>Xem bài</b></span>

    <div class="checkbox-wrapper-38">
        <input class="toggle-input" id="input-tab" type="checkbox" />
        <label class="toggle-label" for="input-tab"> </label>
    </div>

    <span id="code-title"><b>Làm bài</b></span>
</div>
<section id="view-content-section" class="container">
    <div id="content-section" class="container mt-3 mb-4">
        <div id="content-container" class="table-responsive">
            <div id="header-content">
                <div class="header-content-child">
                    <span><b>Mã bài:</b></span>
                    <p class="header-content-value">@Model.ExerciseCode</p>
                </div>
                <div class="header-content-child">
                    <span><b>Tên bài:</b></span>
                    <p class="header-content-value">@Model.ExerciseName</p>
                </div>
                <div class="header-content-child">
                    <span><b>Thể loại chấm:</b></span>
                    <p class="header-content-value">@Model.KindMarking</p>
                </div>
                <div class="header-content-child">
                    <span><b>Giới hạn thời gian:</b></span>
                    <p class="header-content-value">@(Model.RuntimeLimit) giây</p>
                </div>
                <div class="header-content-child">
                    <span><b>Đăng bởi:</b></span>
                    <p class="header-content-value">
                        <a asp-action="Details" asp-controller="UserInfo" asp-route-id="@Model.UserCreatedId"> @(userCreated.Username) </a>
                    </p>
                </div>
                <div class="header-content-child">
                    <span><b>Độ khó:</b></span>
                    <p class="header-content-value">@(Model.Difficulty.DifficultyName)</p>
                </div>
                <div class="header-content-child">
                    <span><b>Dạng nhập:</b></span>
                    <p class="header-content-value">@(!string.IsNullOrEmpty(Model.InputFile) ? Model.InputFile : "stdin")</p>
                </div>
                <div class="header-content-child">
                    <span><b>Dạng xuất:</b></span>
                    <p class="header-content-value">@(!string.IsNullOrEmpty(Model.OutputFile) ? Model.OutputFile : "stdout")</p>
                </div>
            </div>
            @* <iframe id="content-iframe" style="width: 90%; border: none;" onload="resizeIframe(this)"></iframe> *@
            <div class="p-2 " id="inner-content">@Html.Raw(Model != null ? Model.ExerciseContent : "")</div>

        </div>

    </div>

</section>

<section class="container">
    <div id="code-section" class="row mr-0 mt-2 d-none">

        <!-- CODE CONTAINER -->
        <div id="codepad" class="col-sm-9 mt-4 flex flex-column">

            <!-- CODE HEADER -->
            <div id="code-head">
                <div class="form-floating w-75">
                    <input type="text" class="form-control w-75" placeholder="Name" name="file-name" id='file-name' value="@(Model?.ExerciseName ?? "None Name")" readonly />
                    <label for="file-name">Tên bài</label>
                </div>
                <button id="copy-code" class="btn btn-outline-secondary" role="button">Sao chép</button>
            </div>


            <!-- CODE EDITOR -->
            <div id="code-div">
                <div id="editor">@ViewBag.SourceCode</div>
                <div id="import-code">
                    <button id="import-file" class="btn btn-info" role="button">Chọn tệp</button>
                </div>
            </div>

            <!-- INPUT OUTPUT TEST -->
            <div class="io-div">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#input" aria-selected="false" role="tab" tabindex="-1">INPUT</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="tab" href="#output" aria-selected="true" role="tab">OUTPUT</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#erroralert" aria-selected="true" role="tab">ERROR</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade w-100  active show" id="input" role="tabpanel">
                        <div id="input-div" class="io-child-div border-primary p-3">
                            <div id="ioput-file-area">
                                <div>
                                    @if (Model != null && !string.IsNullOrEmpty(Model.InputFile))
                                    {
                                        <input type="text" id="input-file" name="input-file" placeholder="Nhập tên file hoặc bỏ trống"
                                               value="@Model.InputFile" class="form-control p-2" disabled />
                                    }
                                </div>
                                <div>
                                    @if (Model != null && !string.IsNullOrEmpty(Model.InputFile))
                                    {
                                        <input type="text" id="output-file" name="output-file" placeholder="Nhập tên file hoặc bỏ trống"
                                               value="@Model.OutputFile" class="form-control p-2" disabled />
                                    }
                                </div>
                            </div>

                            <div id="input-data-area" class="px-3 mt-3">
                                <span>NHẬP DỮ LIỆU VÀO</span>
                                <textarea id="input-data" class="form-control"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="output" role="tabpanel">
                        <div id="output-div" class="io-child-div">
                            <div class="flex align-center mt-2">
                                <span>Thời gian thực thi:</span>
                                <input class="run-time ml-2 form-control p-2 w-50" type="text" placeholder="Thời gian thực thi (giây)" readonly>
                            </div>
                            <div id="output-area" class="p-4">
                                <div id="output-data-area">
                                    <span>DỮ LIỆU RA</span>
                                    <textarea id="output-data" class="form-control" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="erroralert" role="tabpanel">
                        <div id="alert-error" class="io-child-div">
                            <div class="flex align-center mt-2">
                                <span>Thời gian thực thi:</span>
                                <input class="run-time ml-2 form-control p-2 w-50" type="text" placeholder="Thời gian thực thi (giây)" readonly>
                            </div>
                            <div id="error" class="m-3"></div>
                        </div>
                    </div>
                    <div id="run-button" class="mt-3">
                        <button id="run" class="btn btn-primary btn-lg p-3 px-5">
                            RUN
                        </button>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>


        </div>

        <!-- RIGHT SIDE -->
        <div id="right-side" class="col-3">
            <div id="marking" class="mt-3 bg-warning pt-4 pb-4">
                <h3 class="text-light">Chấm điểm</h3>
                <div class="line"></div>
                <div style="display:none;" class="progress" bis_skin_checked="1">
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
                </div>
                <button id="btn-marking" class="btn btn-danger w-75 text-nowrap" role="button">
                    CHẤM ĐIỂM
                </button>
                <div id="test-case-results" style="max-height:400px;overflow-y:auto;padding-right:5px;">
                </div>

            </div>


            <div id="setting" class=" bg-dark mt-1 mb-3 pt-4 pb-4 ">
                <h3 class="text-light">Cài đặt</h3>
                <div class="line"></div>
                <div class="cfg-option px-3">
                    <div class="cfg-title">
                        <b>Theme:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <select id="theme-selector" class="form-control-sm w-100">
                            @if (listTheme != null)
                            {
                                foreach (var i in listTheme)
                                {
                                    @if (userInfo != null && i.Id == userInfo.ThemeCodeId)
                                    {
                                        <option selected data-value="@i.Id" value="ace/theme/@i.ThemeCode">@i.ThemeCode</option>
                                    }
                                    else
                                    {
                                        <option data-value="@i.Id" value="ace/theme/@i.ThemeCode">@i.ThemeCode</option>
                                    }
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="cfg-option  px-3">
                    <div class="cfg-title">
                        <b>Font size:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <input id="fontsize-selector" class="form-control-sm w-100" type="number" value="18" max="72" min="2">
                    </div>
                </div>
                <div class="cfg-option px-3">
                    <div class="cfg-title">
                        <b>Program Language:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <select id="programlanguage-selector" class="form-control-sm w-100">
                            @if (programLanguageList != null)
                            {
                                foreach (var i in programLanguageList)
                                {
                                    @if (userInfo != null && i.Id == userInfo.ProgramLanguageId)
                                    {
                                        <option selected data-value="@i.Id" value="@i.ProgramLanguageCode">@i.ProgramLanguageName</option>
                                    }
                                    else
                                    {
                                        <option data-value="@i.Id" value="@i.ProgramLanguageCode">@i.ProgramLanguageName</option>
                                    }
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="cfg-option px-3">
                    <div class="cfg-title">
                        <b>Time limit:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <input type="number" id="time-limit" class="form-control-sm w-100" disabled value="@((int?)Model?.RuntimeLimit ?? 1)">
                    </div>
                </div>


                <button id="save-as" class="btn btn-success w-75" role="button">
                    LƯU VÀO CODEPAD
                </button>
            </div>



        </div>
    </div>

</section>
<!-- Phần bình luận -->
<div class="container comments-section mt-4">
    <h4>Bình luận (<span id="comment-count">0</span>)</h4>
    <!-- Danh sách bình luận -->
    <div class="comments-list" id="comments-list">
        <p>Đang tải bình luận...</p>
    </div>
    <!-- Form viết bình luận -->
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="comment-form mb-4">
            <h5>Viết bình luận</h5>
            <form id="comment-form" asp-action="AddComment" asp-controller="Exercise" method="post">
                <input type="hidden" name="AnswerToCmtId" id="answer-to-cmt-id" value="" />
                <div class="form-group">
                    <textarea id="comment-content" name="Content" class="form-control" rows="5"></textarea>
                </div>
                <button id="btn-send-comment" type="submit" class="btn btn-primary mt-2">Gửi bình luận</button>
                <button type="button" class="btn btn-secondary mt-2 d-none" id="cancel-reply">Hủy trả lời</button>
            </form>
        </div>
    }
    else
    {
        <p>Vui lòng <a asp-action="Login" asp-controller="Account">đăng nhập</a> để bình luận.</p>
    }
</div>

@section Scripts {
    @*ACE EDITOR*@
    <script src="~/lib/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script src="~/js/exercise/comment.js" asp-append-version="true"></script>
    <script src="~/js/exercise/add-ace-editor.js" asp-append-version="true"></script>
    <script>
        const exerciseId = $("#exercise-id").val();
        var exerciseCommentHandler = new ExerciseCommentHandler(exerciseId, currentUserId);
    </script>

    @*Event Listening*@
    <script src="~/js/runprocess-codepad.js" asp-append-version="true"></script>

    @*Marking script*@
    <script src="~/js/exercise/marking-handler.js" asp-append-version="true"></script>

    @*Init code add*@
    <script src="~/js/exercise/content-exercise.js" asp-append-version="true"></script>
}