@using HMCodingWeb.ViewModels;
@model HMCodingWeb.Models.Exercise;
@{
    ViewData["Title"] = Model.ExerciseName;
    var listTheme = ViewBag.ListTheme as List<Theme>;
    var userInfo = ViewBag.UserInfo as User;
    var programLanguageList = ViewBag.ProgramLanguageList as List<ProgramLanguage>;
    var exerciseId = Model?.Id ?? 0;
    var userCreated = ViewBag.CreatedUser as User;
    if (userCreated == null)
    {
        userCreated = new User
                {
                    Id = Model?.UserCreatedId ?? 0,
                    Username = "Unknown"
                };
    }
}


@section Links {
    <link rel="stylesheet" href="~/css/exercise-code.css?v=2">
    <link rel="stylesheet" href="~/css/button-extend.css?v=2">

}
@if (Model == null)
{
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            Không tìm thấy bài tập này hoặc bài tập đã bị xóa.
        </div>
    </div>
    return;
}

<div id="select-tab" class="">
    <a class="text-light text-decoration-none" asp-action="Index" asp-controller="Marking" asp-route-exId="@Model.Id" asp-route-uId="@userInfo?.Id"><b>Xem các lần nộp</b></a>
    <span id="view-title" class=""><b>Xem bài</b></span>

    <div class="checkbox-wrapper-38">
        <input class="toggle-input" id="input-tab" type="checkbox" />
        <label class="toggle-label" for="input-tab"> </label>
    </div>

    <span id="code-title"><b>Làm bài</b></span>
</div>
<section id="view-content-section" class="container">
    <div id="content-section" class="container mt-3 mb-4">
        <div id="content-container" class="table-responsive">
            <div id="header-content">
                <div class="header-content-child">
                    <span><b>Mã bài:</b></span>
                    <p class="header-content-value">@Model.ExerciseCode</p>
                </div>
                <div class="header-content-child">
                    <span><b>Tên bài:</b></span>
                    <p class="header-content-value">@Model.ExerciseName</p>
                </div>
                <div class="header-content-child">
                    <span><b>Thể loại chấm:</b></span>
                    <p class="header-content-value">@Model.KindMarking</p>
                </div>
                <div class="header-content-child">
                    <span><b>Thời gian:</b></span>
                    <p class="header-content-value">@(Model.RuntimeLimit) giây</p>
                </div>
                <div class="header-content-child">
                    <span><b>Đăng bởi:</b></span>
                    <p class="header-content-value">
                        <a asp-action="Details" asp-controller="UserInfo" asp-route-id="@Model.UserCreatedId"> @(userCreated.Username) </a>
                    </p>
                </div>
                <div class="header-content-child">
                    <span><b>Độ khó:</b></span>
                    <p class="header-content-value">@(Model.Difficulty.DifficultyName)</p>
                </div>
                <div class="header-content-child">
                    <span><b>Dạng nhập:</b></span>
                    <p class="header-content-value">@(!string.IsNullOrEmpty(Model.InputFile) ? Model.InputFile : "stdin")</p>
                </div>
                <div class="header-content-child">
                    <span><b>Dạng xuất:</b></span>
                    <p class="header-content-value">@(!string.IsNullOrEmpty(Model.OutputFile)? Model.OutputFile : "stdout")</p>
                </div>
            </div>
            @* <iframe id="content-iframe" style="width: 90%; border: none;" onload="resizeIframe(this)"></iframe> *@
            <div class="p-2 " id="inner-content">@Html.Raw(Model != null ? Model.ExerciseContent : "")</div>

        </div>

    </div>

</section>

<section class="container">
    <div id="code-section" class="row mr-0 mt-2 d-none">

        <!-- CODE CONTAINER -->
        <div id="codepad" class="col-sm-9 mt-4 flex flex-column">

            <!-- CODE HEADER -->
            <div id="code-head">
                <div class="form-floating w-75">
                    <input type="text" class="form-control w-75" placeholder="Name" name="file-name" id='file-name' value="@(Model?.ExerciseName ?? "None Name")" readonly />
                    <label for="file-name">Tên bài</label>
                </div>
                <button id="copy-code" class="btn btn-outline-secondary" role="button">Sao chép</button>
            </div>


            <!-- CODE EDITOR -->
            <div id="code-div">
                <div id="editor">@ViewBag.SourceCode</div>
                <div id="import-code">
                    <button id="import-file" class="btn btn-info" role="button">Chọn tệp</button>
                </div>
            </div>

            <!-- INPUT OUTPUT TEST -->
            <div class="io-div">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#input" aria-selected="false" role="tab" tabindex="-1">INPUT</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " data-bs-toggle="tab" href="#output" aria-selected="true" role="tab">OUTPUT</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#erroralert" aria-selected="true" role="tab">ERROR</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade w-100  active show" id="input" role="tabpanel">
                        <div id="input-div" class="io-child-div border-primary p-3">
                            <div id="ioput-file-area">
                                <div>
                                    @if (Model != null && !string.IsNullOrEmpty(Model.InputFile))
                                    {
                                        <input type="text" id="input-file" name="input-file" placeholder="Nhập tên file hoặc bỏ trống"
                                               value="@Model.InputFile" class="form-control p-2" disabled />
                                    }
                                </div>
                                <div>
                                    @if (Model != null && !string.IsNullOrEmpty(Model.InputFile))
                                    {
                                        <input type="text" id="output-file" name="output-file" placeholder="Nhập tên file hoặc bỏ trống"
                                               value="@Model.OutputFile" class="form-control p-2" disabled />
                                    }
                                </div>
                            </div>

                            <div id="input-data-area" class="px-3 mt-3">
                                <span>NHẬP DỮ LIỆU VÀO</span>
                                <textarea id="input-data" class="form-control"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="output" role="tabpanel">
                        <div id="output-div" class="io-child-div">
                            <div class="flex align-center mt-2">
                                <span>Thời gian thực thi:</span>
                                <input class="run-time ml-2 form-control p-2 w-50" type="text" placeholder="Thời gian thực thi (giây)" readonly>
                            </div>
                            <div id="output-area" class="p-4">
                                <div id="output-data-area">
                                    <span>DỮ LIỆU RA</span>
                                    <textarea id="output-data" class="form-control" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="erroralert" role="tabpanel">
                        <div id="alert-error" class="io-child-div">
                            <div class="flex align-center mt-2">
                                <span>Thời gian thực thi:</span>
                                <input class="run-time ml-2 form-control p-2 w-50" type="text" placeholder="Thời gian thực thi (giây)" readonly>
                            </div>
                            <div id="error" class="m-3"></div>
                        </div>
                    </div>
                    <div id="run-button" class="mt-3">
                        <button id="run" class="btn btn-primary btn-lg p-3 px-5">
                            RUN
                        </button>
                        <div class="loader"></div>
                    </div>
                </div>
            </div>


        </div>

        <!-- RIGHT SIDE -->
        <div id="right-side" class="col-3">
            <div id="marking" class="mt-3 bg-warning pt-4 pb-4">
                <h3 class="text-light">Chấm điểm</h3>
                <div class="line"></div>
                <div style="display:none;" class="progress" bis_skin_checked="1">
                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
                </div>
                <button id="btn-marking" class="btn btn-danger w-75 text-nowrap" role="button">
                    CHẤM ĐIỂM
                </button>
                <div id="test-case-results" style="max-height:400px;overflow-y:auto;padding-right:5px;">
                </div>

            </div>


            <div id="setting" class=" bg-dark mt-1 mb-3 pt-4 pb-4 ">
                <h3 class="text-light">Cài đặt</h3>
                <div class="line"></div>
                <div class="cfg-option px-3">
                    <div class="cfg-title">
                        <b>Theme:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <select id="theme-selector" class="form-control-sm w-100">
                            @if (listTheme != null)
                            {
                                foreach (var i in listTheme)
                                {
                                    @if (userInfo != null && i.Id == userInfo.ThemeCodeId)
                                    {
                                        <option selected data-value="@i.Id" value="ace/theme/@i.ThemeCode">@i.ThemeCode</option>
                                    }
                                    else
                                    {
                                        <option data-value="@i.Id" value="ace/theme/@i.ThemeCode">@i.ThemeCode</option>
                                    }
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="cfg-option  px-3">
                    <div class="cfg-title">
                        <b>Font size:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <input id="fontsize-selector" class="form-control-sm w-100" type="number" value="18" max="72" min="2">
                    </div>
                </div>
                <div class="cfg-option px-3">
                    <div class="cfg-title">
                        <b>Program Language:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <select id="programlanguage-selector" class="form-control-sm w-100">
                            @if (programLanguageList != null)
                            {
                                foreach (var i in programLanguageList)
                                {
                                    @if (userInfo != null && i.Id == userInfo.ProgramLanguageId)
                                    {
                                        <option selected data-value="@i.Id" value="@i.ProgramLanguageCode">@i.ProgramLanguageName</option>
                                    }
                                    else
                                    {
                                        <option data-value="@i.Id" value="@i.ProgramLanguageCode">@i.ProgramLanguageName</option>
                                    }
                                }
                            }

                        </select>
                    </div>
                </div>
                <div class="cfg-option px-3">
                    <div class="cfg-title">
                        <b>Time limit:</b>
                    </div>
                    <div class="cfg-content w-50 mr-3">
                        <input type="number" id="time-limit" class="form-control-sm w-100" disabled value="@((int?)Model?.RuntimeLimit ?? 1)">
                    </div>
                </div>


                <button id="save-as" class="btn btn-success w-75" role="button">
                    LƯU VÀO CODEPAD
                </button>
            </div>



        </div>
    </div>

</section>
<!-- Phần bình luận -->
<div class="container comments-section mt-4">
    <h4>Bình luận (<span id="comment-count">0</span>)</h4>
    <!-- Danh sách bình luận -->
    <div class="comments-list" id="comments-list">
        <p>Đang tải bình luận...</p>
    </div>
    <!-- Form viết bình luận -->
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div class="comment-form mb-4">
            <h5>Viết bình luận</h5>
            <form id="comment-form" asp-action="AddComment" asp-controller="Exercise" method="post">
                <input type="hidden" name="ExerciseId" value="@Model?.Id" />
                <input type="hidden" name="AnswerToCmtId" id="answer-to-cmt-id" value="" />
                <div class="form-group">
                    <textarea id="comment-content" name="Content" class="form-control" rows="5"></textarea>
                </div>
                <button id="btn-send-comment" type="submit" class="btn btn-primary mt-2">Gửi bình luận</button>
                <button type="button" class="btn btn-secondary mt-2 d-none" id="cancel-reply">Hủy trả lời</button>
            </form>
        </div>
    }
    else
    {
        <p>Vui lòng <a asp-action="Login" asp-controller="Account">đăng nhập</a> để bình luận.</p>
    }
</div>

@section Scripts {



    @*ACE EDITOR*@
    <script src="~/lib/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/lib/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>

    <!-- Xử lý bình luận -->
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        // Khởi tạo CKEditor
        CKEDITOR.replace('comment-content', {
            height: 150,
            toolbar: [
                ['Bold', 'Italic', 'Underline'],
                ['Link', 'Unlink'],
                ['NumberedList', 'BulletedList'],
                ['Undo', 'Redo']
            ]
        });

        function removeCKENotification(){
            try{
                $('.cke_notifications_area').remove();

                if($('.cke_notifications_area')){
                    setTimeout(removeCKENotification, 200);
                }
            }
            catch(e){
                setTimeout(removeCKENotification, 200);
            }
        }
        removeCKENotification();
        // Hàm render bình luận
        function renderComments(comments) {
            var container = $('#comments-list');
            container.empty();
            if (comments.length === 0) {
                container.html('<p>Chưa có bình luận nào.</p>');
                return;
            }

            comments.forEach(comment => {
                var likeClass = comment.userLiked ? 'fa-solid fa-thumbs-up' : 'fa-regular fa-thumbs-up';
                var dislikeClass = comment.userDisliked ? 'fa-solid fa-thumbs-down' : 'fa-regular fa-thumbs-down';
                var btnRemove = `<button class="btn remove-cmt me-2" data-comment-id="${comment.id}"><i class="fa-solid fa-trash" style="color: #ff0000;"></i> Xóa</button>`;
                var commentHtml = `
                    <div class="comment-item mb-3">
                        <div class="comment-header">
                            <b>
                                <a href="/userinfo/details/${comment.userId}">${comment.username}</a>
                                ${comment.answerToUserId != null ? ` đã trả lời <a class="text-danger" href="/userinfo/details/${comment.answerToUserId}">${comment.answerToUser}</a>` : ''}
                            </b>
                            <span class="text-muted"> - ${new Date(comment.createdDate).toLocaleString('vi-VN')}</span>

                        </div>
                        <hr/>
                        <div class="comment-content">${comment.content}</div>

                        <div class="comment-actions mt-3">
                            <button class="btn  btn reply-btn me-3" data-comment-id="${comment.id}">Trả lời</button>
                            <button class="btn  like-btn me-2" data-comment-id="${comment.id}">
                                <i class="${likeClass}"></i> (${comment.likeCount})
                            </button>
                            <button class="btn  dislike-btn me-2" data-comment-id="${comment.id}">
                                <i class="${dislikeClass}"></i> (${comment.dislikeCount})
                            </button>
                            ${comment.canDelete ? btnRemove : ''}
                        </div>
                    </div>
                `;

                container.append(commentHtml);

            });
        }

        // Tải bình luận khi trang load
        $(document).ready(function () {
            $.get('@Url.Action("GetComments", "Exercise")', { exerciseId: @Model.Id }, function (response) {
                if (response.status) {
                    $('#comment-count').text(response.comments.length);
                    renderComments(response.comments);
                } else {
                    $('#comments-list').html('<p>Chưa có bình luận nào.</p>');
                }
            });
        });

        // Xử lý form bình luận qua AJAX
        $('#comment-form').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);
            formData.set('Content', CKEDITOR.instances['comment-content'].getData());
            $('#btn-send-comment').prop('disabled', true).text('Đang gửi...');
            $.ajax({
                url: '@Url.Action("AddComment", "Exercise")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#btn-send-comment').prop('disabled', false).text('Gửi bình luận');
                    if (response.status) {
                        $.get('@Url.Action("GetComments", "Exercise")', { exerciseId: @Model.Id }, function (res) {
                            if (res.status) {
                                $('#comment-count').text(res.comments.length);
                                renderComments(res.comments, $('#comments-list'));
                            }
                        });
                        CKEDITOR.instances['comment-content'].setData('');
                        $('#answer-to-cmt-id').val('');
                        $('#cancel-reply').addClass('d-none');
                    } else {
                        alert(response.message || 'Có lỗi xảy ra.');
                    }
                },
                error: function () {
                    $('#btn-send-comment').prop('disabled', false).text('Gửi bình luận');
                    alert('Lỗi kết nối server.');
                }
            });
        });

        // Xử lý nút trả lời
        $(document).on('click', '.reply-btn', function () {
            var commentId = $(this).data('comment-id');
            $('#answer-to-cmt-id').val(commentId);
            $('#cancel-reply').removeClass('d-none');
            $('#comment-content').focus();
            CKEDITOR.instances['comment-content'].setData('');
            $('html, body').animate({
                scrollTop: $('#comment-form').offset().top
            }, 500);
        });

        // Hủy trả lời
        $('#cancel-reply').click(function () {
            $('#answer-to-cmt-id').val('');
            $(this).addClass('d-none');
            CKEDITOR.instances['comment-content'].setData('');
        });

        // Xử lý like
        $(document).on('click', '.like-btn', function () {
            var commentId = $(this).data('comment-id');
            $.post('@Url.Action("LikeComment", "Exercise")', { commentId: commentId }, function (response) {
                if (response.status) {
                    $.get('@Url.Action("GetComments", "Exercise")', { exerciseId: @Model.Id }, function (res) {
                        if (res.status) {
                            $('#comment-count').text(res.comments.length);
                            renderComments(res.comments, $('#comments-list'));
                        }
                    });
                } else {
                    alert(response.message || 'Có lỗi xảy ra.');
                }
            });
        });

        // Xử lý dislike
        $(document).on('click', '.dislike-btn', function () {
            var commentId = $(this).data('comment-id');
            $.post('@Url.Action("DislikeComment", "Exercise")', { commentId: commentId }, function (response) {
                if (response.status) {
                    $.get('@Url.Action("GetComments", "Exercise")', { exerciseId: @Model.Id }, function (res) {
                        if (res.status) {
                            $('#comment-count').text(res.comments.length);
                            renderComments(res.comments, $('#comments-list'));
                        }
                    });
                } else {
                    alert(response.message || 'Có lỗi xảy ra.');
                }
            });
        });

        // Xử lý xóa bình luận
        $(document).on('click', '.remove-cmt', async function () {
            var commentId = $(this).data('comment-id');
            if (await confirmAction("Bạn có chắc muốn xóa bình luận này?")) {
                $.post('@Url.Action("DeleteComment", "Exercise")', { commentId: commentId }, function (response) {
                    if (response.status) {
                        $.get('@Url.Action("GetComments", "Exercise")', { exerciseId: @Model.Id }, function (res) {
                            if (res.status) {
                                $('#comment-count').text(res.comments.length);
                                renderComments(res.comments, $('#comments-list'));
                            }
                        });
                    } else {
                        alert(response.message || 'Có lỗi xảy ra.');
                    }
                });
            }
        });
    </script>


    <script>

        // CODE SECTION
        function getProgramLanguageMode(proLanguageCode) {
            if (proLanguageCode == "cpp")
                return "ace/mode/c_cpp";
            else if (proLanguageCode == "py")
                return "ace/mode/python";
            else if (proLanguageCode == "pas")
                return "ace/mode/pascal";
            else
                return "ace/mode/javascript";
        }

        var editor = ace.edit("editor");
        editor.setTheme($('#theme-selector').val());
        editor.session.setMode(getProgramLanguageMode($('#programlanguage-selector').val()));
        ace.require("ace/ext/language_tools");
        editor.setOptions({
            autoScrollEditorIntoView: true,
            copyWithEmptySelection: true,
            enableBasicAutocompletion: true,
            enableLiveAutocompletion: true,
            enableSnippets: true
        });
        $('#theme-selector').on('change', function (event) {
            const theme = event.target.value;
            editor.setTheme(theme);
        });
        $('#fontsize-selector').on('change', function (event) {
            var fontSize = $(this).val();
            editor.setFontSize(fontSize + "px");
        });
        $('#programlanguage-selector').on('change', function (event) {
            editor.session.setMode(getProgramLanguageMode($(this).val()));
        });

    </script>
    <script>
        var baoloi = ace.edit("error");
        baoloi.setTheme("ace/theme/kuroir");
        baoloi.setShowPrintMargin(false);
        baoloi.setDisplayIndentGuides(false);
        baoloi.setReadOnly(true);
        baoloi.getSession().setMode("ace/mode/c_cpp");
    </script>

    <script>
        const exerciseId = parseInt('@(exerciseId.ToString())');
        const host = document.querySelector('#inner-content');
        const shadowRoot = host.attachShadow({ mode: 'open' });
        const innerContent = `
                    <style>
                        strong,b{
                            font-weight: 900;
                        }
                    </style>
                    <div id="dependency">
                        ${host.innerHTML}
                    </div>
                `;
        shadowRoot.innerHTML = innerContent;
    </script>


    @*Event Listening*@
    <script>
        document.getElementById("import-code").addEventListener("click", async function () {
            const { value: file } = await Swal.fire({
                title: "Chọn tệp",
                input: "file",
                inputAttributes: {
                    "accept": ".cpp,.py,.pas,.js",
                    "aria-label": "Tải tệp lên"
                }
            });
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const fileContent = e.target.result;
                    console.log(fileContent);
                    editor.setValue(fileContent);
                };
                reader.readAsText(file);
            };
        });

        function executeCopy(text) {
            let input = document.createElement('textarea');
            document.body.appendChild(input);
            input.value = text;
            input.select();
            document.execCommand('Copy');
            input.remove();
        }
        document.getElementById("copy-code").addEventListener("click", function () {
            const button = this;
            button.innerText = "Đã sao chép";
            setTimeout(function () {
                button.innerText = "Sao chép";
            }, 800);
            const content = editor.getValue();
            executeCopy(content);
        });
        document.getElementById("run").addEventListener("click", function () {
            this.style.display = "none";
            document.querySelector(".loader").style.display = "block";
            let runProcess = {
                "ProgramLanguageId": $("#programlanguage-selector option:selected").attr("data-value"),
                "SourceCode": editor.getValue(),
                "Input": $("#input-data").val(),
                "Output": null,
                "Error": null,
                "InputFile": $("#input-file").val(),
                "OutputFile": $("#output-file").val(),
                "TimeLimit": ($("#time-limit").val() >= 0 ? $("#time-limit").val() : 1)
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RunProcessCodepad", "CodePad")',
                data: runProcess,
                success: function (response) {
                    if (response.isError) {
                        let tabTriggerEl = document.querySelector('a[href="#erroralert"]');
                        let tab = new bootstrap.Tab(tabTriggerEl);
                        tab.show();
                        baoloi.setValue(response.error);
                        $(".run-time").val(response.runTime);
                        showToast("error", "Đã có lỗi xảy ra", 1500);
                    }
                    else {
                        let tabTriggerEl = document.querySelector('a[href="#output"]');
                        let tab = new bootstrap.Tab(tabTriggerEl);
                        tab.show();
                        document.getElementById("output-data").innerHTML = response.output;
                        $(".run-time").val(response.runTime);
                        showToast("success", "Đã có kết quả output", 1500);
                    }
                    document.getElementById("run").style.display = "block";
                    document.querySelector(".loader").style.display = "none";
                },
                error: function (err) {
                    alert("Error to post request");
                    document.getElementById("run").style.display = "block";
                    document.querySelector(".loader").style.display = "none";
                }
            });
        });
        $(document).on('keydown', function(event) {
            if (event.ctrlKey && event.key === 's') {
                event.preventDefault();
                $('#save-as').click();
            }
        });;

        document.getElementById("save-as").addEventListener("click", async function () {
            var { value: fileName } = await Swal.fire({
                title: "NHẬP TÊN FILE CẦN LƯU",
                input: "text",
                inputAttributes: {
                    placeholder: "Nhập tên file ở đây...",
                    maxLength: 50
                },
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return "Tên file không thể rỗng";
                    }
                },
            });
            if (fileName) {
                const confirm = await confirmAction("Bạn có chắc muốn lưu", "", "", "Lưu", "#1f9bcf");

                if (confirm) {
                    var model = {
                        "FileName": fileName,
                        "InputFile": $("#input-file").val(),
                        "OutputFile": $("#output-file").val(),
                        "ProgramLanguageId": $("#programlanguage-selector option:selected").attr("data-value"),
                        "CodeContent": editor.getValue()
                    }
                    $.ajax({
                        url: "/CodePad/SaveAs",
                        method: 'POST',
                        data: { model: model },
                        success: function (response) {
                            if (response.status) {
                                showAlert("success", "Lưu thành công");

                            } else {
                                Swal.fire("Lưu thất bại!", response.error, "error");
                            }
                        },
                        error: function () {
                            Swal.fire("Lưu thất bại!", "Đã có lỗi xảy ra", "error");
                        }
                    });



                }
            }
        });
    </script>

    @*Marking script*@
    <script>
        $(document).ready(function () {
            // Initialize SignalR connection
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/markingHub")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            // Start SignalR connection
            async function startSignalR() {
                try {
                    await connection.start();
                    console.log("SignalR Connected.");
                } catch (err) {
                    console.error("SignalR Connection Error: ", err);
                    setTimeout(startSignalR, 5000); // Retry after 5 seconds
                }
            }

            // Handle connection closed event
            connection.onclose(async () => {
                console.warn("SignalR connection closed. Attempting to reconnect...");
                await startSignalR();
            });

            connection.on("ReceiveTestCaseResult", function (testCaseResult) {
                //console.log("Received test case result: ", testCaseResult);

                // Determine failure reason
                let failureReason = '';
                if (!testCaseResult.isCorrect) {
                    if (testCaseResult.isTimeLimitExceed) {
                        failureReason = 'Vượt quá thời gian';
                    } else if (testCaseResult.isError) {
                        failureReason = 'Lỗi thực thi';
                    } else {
                        failureReason = 'Kết quả sai';
                    }
                }

                // Generate result HTML
                const resultHtml = `
                    <div class="test-case-no-${testCaseResult.testCaseIndex} test-case-result ${testCaseResult.isCorrect ? 'passed' : 'failed'} ">
                        <div class="d-flex align-items-center">
                            <span class="status-icon">
                                ${testCaseResult.isCorrect ? '✅' : '❌'}
                            </span>
                            <strong class="text-dark">Test Case ${testCaseResult.testCaseIndex}:</strong>
                            <span class="ms-2 ${testCaseResult.isCorrect ? 'text-success' : 'text-danger'}">
                                <b>${testCaseResult.isCorrect ? 'Đạt' : 'Thất bại'}</b>
                            </span>
                        </div>
                        ${failureReason ? `<div class="details"><strong>Lý do:</strong> ${failureReason}</div>` : ''}
                        <div class="details"><strong>Thời gian:</strong> ${testCaseResult.runTime.toFixed(6)}s</div>
                    </div>
                `;
                $("#test-case-results").append(resultHtml);

                if(testCaseResult.testCaseIndex < testCaseResult.totalTestcase)
                {
                    var testCaseDiv = document.querySelector(`#test-case-results`);
                    testCaseDiv.scrollTo({
                      top: testCaseDiv.scrollHeight,
                      behavior: "smooth" // thêm hiệu ứng mượt
                    });
                }
                


                // Update progress bar
                const progressBar = $('.progress-bar');
                const progress = (testCaseResult.testCaseIndex / testCaseResult.totalTestcase) * 100;
                progressBar.css('width', `${progress}%`);
                progressBar.attr('aria-valuenow', progress);


                // Handle errors (switch to error tab)
                if (testCaseResult.isError) {
                    const tabTriggerEl = document.querySelector('a[href="#erroralert"]');
                    if (tabTriggerEl) {
                        const tab = new bootstrap.Tab(tabTriggerEl);
                        tab.show();
                    }
                    if (baoloi && typeof baoloi.setValue === 'function') {
                        baoloi.setValue(testCaseResult.errorContent || '');
                    }
                    $(".run-time").val(testCaseResult.runTime);
                    showToast("error", "Đã có lỗi xảy ra", 1500);
                }


            });

            // Utility function to escape HTML
            function escapeHtml(unsafe) {
                return unsafe
                    .replace(/&/g, "&amp;")
                    .replace(/</g, "&lt;")
                    .replace(/>/g, "&gt;")
                    .replace(/"/g, "&quot;")
                    .replace(/'/g, "&#039;");
            }

            // Start SignalR connection
            startSignalR();

            // Handle marking button click
            $("#btn-marking").on("click", async function () {
                // Disable button
                $(this).prop("disabled", true).text("Đang chấm...");

                // Clear previous results
                $("#test-case-results").empty();
                $('.progress').css('display', 'flex');
                $('.progress-bar').css('width', `0%`);
                $('.progress-bar').attr('aria-valuenow', 0);
                try {

                    await $.ajax({
                        url: "/Marking/Marking",
                        type: "POST",
                        data: {
                            ExerciseId: exerciseId,
                            ProgramLanguageId: $("#programlanguage-selector option:selected").attr("data-value"),
                            SourceCode: editor.getValue()
                        },
                        success: function (response) {
                            if (response.status) {
                                const resultHtml = `
                                    <div class="finalresult alert ${response.data.isAllCorrect ? 'alert-success' : 'alert-warning'}">
                                        <h5>Kết quả chấm điểm:</h5>
                                        <p><strong>Trạng thái:</strong> ${response.data.isAllCorrect ? 'Tất cả đúng' : 'Có test case sai'}</p>
                                        <p><strong>Điểm số:</strong> ${response.data.score}/100</p>
                                        ${response.data.isError ? '<p><strong>Lỗi:</strong> Có lỗi trong quá trình chạy chương trình</p>' : ''}
                                        ${response.data.pointGain ? `<p><strong>Bạn được nhận thêm:</strong> ${response.data.pointGain} điểm</p>` : ''}
                                    </div>
                                `;
                                $("#test-case-results").prepend(resultHtml); // Prepend instead of append
                                $("#btn-marking").prop("disabled", false).text("CHẤM ĐIỂM");
                                document.querySelector('.finalresult').scrollIntoView({
                                    behavior: 'smooth', // 'auto' hoặc 'smooth'
                                    block: 'center'     // 'start', 'center', 'end', 'nearest'
                                });
                                $('.progress').css('display', 'none');
                            } else {
                                const errorHtml = `
                                    <div class="alert alert-danger">
                                        <strong>Lỗi:</strong> ${response.message || "Gửi bài chấm điểm thất bại."}
                                    </div>
                                `;
                                $("#test-case-results").prepend(errorHtml);
                                $("#btn-marking").prop("disabled", false).text("CHẤM ĐIỂM");
                                $('.progress').css('display', 'none');
                            }
                        },
                        error: function (xhr) {
                            console.error("Error submitting code: ", xhr.responseText);
                            $("#test-case-results").append(`<div class="alert alert-danger">Error: ${xhr.responseText}</div>`);
                            $("#btn-marking").prop("disabled", false).text("CHẤM ĐIỂM");
                            $('.progress').css('display', 'none');
                        }
                    });
                } catch (err) {
                    console.error("AJAX Error: ", err);
                    $("#test-case-results").append(`<div class="alert alert-danger">Error: ${err.message}</div>`);
                    $("#btn-marking").prop("disabled", false).text("CHẤM ĐIỂM");
                    $('.progress').css('display', 'none');
                }
            });
        });
    </script>


    @*Init code add*@

    <script>
        $(document).ready(function () {
            let type = getParamFromCurrentUrl("tab");
            if (type === "code") {
                $("#input-tab").prop("checked", true);
                swapTab();
            } else {
                $("#input-tab").prop("checked", false);
                 swapTab();
            }
            editor.getSession().on('change', function () {
                localStorage.setItem('saveCodepadExercise@(Model?.Id)_@(userInfo?.Id)', editor.getValue());
            });
            var storedContent = localStorage.getItem('saveCodepadExercise@(Model?.Id)_@(userInfo?.Id)');
            var initSourceCode = getParamFromCurrentUrl('viewCode');
            if (storedContent && initSourceCode !== "True") {
                editor.setValue(storedContent, -1);
            }
        });
    </script>
    <script>
        $("#input-tab").on('click', swapTab);

        function swapTab() {
            const checked = $("#input-tab").prop("checked");
            if (checked) {
                addParamToCurrentUrl("tab", "code");
                $("#view-title").removeClass("active");
                $("#code-title").addClass("active");
                $("#view-content-section").slideUp(300, function () {
                    $("#input-tab").addClass("d-none");
                    $("#code-section").removeClass("d-none").slideDown(300);
                    document.querySelector('#editor').scrollIntoView({
                                    behavior: 'smooth', // 'auto' hoặc 'smooth'
                                    block: 'center'     // 'start', 'center', 'end', 'nearest'
                                });
                });
                
            } else {
                addParamToCurrentUrl("tab", "view");
                $("#view-title").addClass("active");
                $("#code-title").removeClass("active");
                $("#code-section").slideUp(300, function () {
                    $("#input-tab").addClass("d-none");
                    $("#view-content-section").removeClass("d-none").slideDown(300);
                    document.querySelector('#content-container').scrollIntoView({
                                    behavior: 'smooth', // 'auto' hoặc 'smooth'
                                    block: 'center'     // 'start', 'center', 'end', 'nearest'
                                });
                });
                
            }
        }

    </script>

    @* @if (userInfo.AuthId == 3 || userInfo.AuthId == 4)
    {
        <text>
            <script>
                document.getElementById("inner-content").addEventListener('copy', function (e) {
                    let content = window.getSelection().toString();
                    checkCopy(content, 'copy', 'exercise');
                });

                document.getElementById("inner-content").addEventListener('cut', function (e) {
                    let content = window.getSelection().toString();
                    checkCopy(content, 'cut', 'exercise');
                });

                document.getElementById("inner-content").addEventListener('paste', function (e) {
                    let content = e.clipboardData.getData('text');;
                    checkCopy(content, 'paste', 'exercise');
                });

                editor.container.addEventListener('copy', function (e) {
                    let content = window.getSelection().toString();
                    checkCopy(content, 'copy', 'code');
                });

                editor.container.addEventListener('cut', function (e) {
                    let content = window.getSelection().toString();
                    checkCopy(content, 'cut', 'code');
                });

                editor.container.addEventListener('paste', function (e) {
                    let content = e.clipboardData.getData('text');;
                    checkCopy(content, 'paste', 'code');
                });

                function checkCopy(content, type, zone)
                {
                    $.ajax({
                        url: '/Exercise/CheckCopy',
                        method: 'post',
                        data: {model:{Content: content, Type: type, Zone: zone, ExerciseId: exerciseId}} ,
                        success: function(response){
                            console.log(response);
                        },
                        error: function (err){
                            console.log(err);
                        }
                    });
                }

            </script>
        </text> 
    } *@

}