@model HMCodingWeb.Models.Exercise
@{
    var accessRoles = ViewBag.AccessRole as List<AccessRole>;
    var difficulties = ViewBag.Difficulty as List<DifficultyLevel>;
    var exerciseTypes = ViewBag.ExerciseType as List<ExerciseType>;
    var chapters = ViewBag.Chapter as List<Chapter>;
    var kindMarking = ViewBag.KindMarking as List<string>;
    var typeMarking = ViewBag.TypeMarking as List<string>;
}

<form id="main" class="mb-3 mt-1 container" accept="" method="post">
    <input type="hidden" id="Id" value="@Model.Id" />
    <div id="title" class="mt-4">
        <h1 style="font-weight: 700;">CHỈNH SỬA BÀI TẬP</h1>
    </div>
    <div id="header-content" class="mb-4 bg-light">
        <div class="header-content-child">
            <span class="required"><b>Mã bài</b></span>
            <input type="text" id="ExerciseCode" placeholder="Nhập mã bài...." class="form-control header-content-input"
                   value="@Model.ExerciseCode" required>
        </div>
        <div class="header-content-child">
            <span><b>Tên bài</b></span>
            <input type="text" id="ExerciseName" placeholder="Nhập tên bài...."
                   class="form-control header-content-input" value="@Model.ExerciseName" required>
        </div>
        <div class="header-content-child">
            <span><b>Độ khó</b></span>
            <select name="Difficulty" id="Difficulty" class="form-control" required>
                @if (difficulties != null)
                {
                    @foreach (var dif in difficulties)
                    {
                        <option class="select-option" value="@dif.Id" data-value="@dif.DifficultyCode"
                                selected="@(dif.Id == Model.DifficultyId)">@dif.DifficultyName</option>
                    }
                }
            </select>
        </div>
        <div class="header-content-child">
            <span><b>Chương</b></span>
            <select name="Chapter" id="Chapter" class="form-control" required>
                @if (chapters != null)
                {
                    @foreach (var chapter in chapters)
                    {
                        <option class="select-option" value="@chapter.Id" data-value="@chapter.ChapterCode"
                                selected="@(chapter.Id == Model.ChapterId)">@chapter.ChapterName</option>
                    }
                }
            </select>
        </div>
        <div class="header-content-child select-types">
            <span><b>Dạng bài</b></span>
            <button class="form-control toggle-next ellipsis" type="button">Chọn dạng bài</button>
            <div class="checkboxes" id="ExerciseType">
                <label class="apply-selection">
                    <input type="checkbox" value="" />
                    ✔ apply selection
                </label>
                <div class="inner-wrap">
                    @if (exerciseTypes != null)
                    {
                        @foreach (var type in exerciseTypes)
                        {
                            var isChecked = Model.ExerciseBelongTypes?.Any(ebt => ebt.ExerciseTypeId == type.Id) ?? false;
                            <label>
                                <div class="checkbox-wrapper-18">
                                    <div class="round">
                                        <input id="ckkBox_@type.Id" type="checkbox" value="@type.Id" data-value="@type.TypeCode"
                                               class="ckkBox" @(isChecked ? "checked" : "") />
                                        <label for="ckkBox_@type.Id"></label>
                                    </div>
                                </div>
                                <span>@type.TypeName</span>
                            </label>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="header-content-child">
            <span><b>Quyền truy cập</b></span>
            <select name="AccessRole" id="AccessRole" class="form-control" required
            @(Model.IsExam ? "disabled" : "")>
                @if (accessRoles != null)
                {
                    @foreach (var acc in accessRoles)
                    {
                        <option class="select-option access-option" value="@acc.Id" data-value="@acc.AccessCode"
                                title="@acc.Description" selected="@(acc.Id == Model.AccessId)">@acc.AccessName</option>
                    }
                }
            </select>
        </div>
        <div class="header-content-child">
            <span><b>Thể loại chấm</b></span>
            <select name="KindMarking" id="KindMarking" class="form-control" required>
                @if (kindMarking != null)
                {
                    @foreach (var kind in kindMarking)
                    {
                        <option class="select-option" value="@kind"
                                selected="@(kind == Model.KindMarking)">@kind</option>
                    }
                }
            </select>
        </div>
        <div class="header-content-child">
            <span><b>Cách chấm</b></span>
            <select name="TypeMarking" id="TypeMarking" class="form-control" required>
                @if (typeMarking != null)
                {
                    @foreach (var type in typeMarking)
                    {
                        <option class="select-option" value="@type"
                                selected="@(type == Model.TypeMarking)">@type</option>
                    }
                }
            </select>
        </div>
        <div class="header-content-child">
            <span style="color: blue;"><b>Input File (nếu có)</b></span>
            <input type="text" id="InputFile" placeholder="Nhập hoặc bỏ trống"
                   class="form-control header-content-input" value="@Model.InputFile">
        </div>
        <div class="header-content-child">
            <span style="color: blue;"><b>Output File (nếu có)</b></span>
            <input type="text" id="OutputFile" placeholder="Nhập hoặc bỏ trống"
                   class="form-control header-content-input" value="@Model.OutputFile">
        </div>
        <div class="header-content-child">
            <span><b>Thời gian thực thi giới hạn</b></span>
            <input type="number" id="RuntimeLimit" class="form-control header-content-input" step="1"
                   value="@Model.RuntimeLimit" max="10" min="1" required>
        </div>
        <div class="header-content-child" style="align-items: center; gap:2rem;">
            <span class="mt-2" style="font-size: 24px;"><strong>Là bài kiểm tra:</strong></span>
            <div class="checkbox-wrapper-19 mt-4">
                <input type="checkbox" id="IsExam" @(Model.IsExam ? "checked" : "") />
                <label for="IsExam" class="check-box"></label>
            </div>
        </div>
    </div>
    <div>
        <h2 class="mt-4" style="font-weight: 700;">NỘI DUNG BÀI TẬP</h2>
        <!-- Tabbed Interface for Content -->
        <ul class="nav nav-tabs" id="contentTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#editorPane" aria-selected="false" role="tab" tabindex="-1">Edit</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link " data-bs-toggle="tab" href="#previewPane" aria-selected="true" role="tab" onclick="updatePreview()">Preview</a>
            </li>
        </ul>
        <div class="tab-content">

            <div class="tab-pane fade show active" id="editorPane" role="tabpanel" aria-labelledby="editor-tab">
                <textarea id="ex-content" name="ex-content">@Model.ExerciseContent</textarea>
            </div>
            <div class="tab-pane fade" id="previewPane" role="tabpanel" aria-labelledby="preview-tab">
                <div id="preview" class="preview-container"></div>
            </div>
        </div>
    </div>
    <div id="title" class="mt-5">
        <h2 style="font-weight: 700;">TEST CASE</h2>
    </div>

    <div id="textcase-content">
        <table id="testcase-table" class="table table-hover table-border">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>INPUT</th>
                    <th>OUTPUT</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody id="testcase-row-list">
                @if (Model.TestCases != null && Model.TestCases.Any())
                {
                    var index = 1;
                    foreach (var testCase in Model.TestCases.OrderBy(tc => tc.Position))
                    {
                        <tr data-value="@index">
                            <td class="mt-5">@index</td>
                            <td>
                                <textarea class="testcase-io-input test-case-input form-control"
                                          name="testcase-input">@testCase.Input</textarea>
                            </td>
                            <td>
                                <textarea class="testcase-io-input test-case-output form-control"
                                          name="testcase-output">@testCase.Output</textarea>
                            </td>
                            <td>
                                <button type="button" onclick="deleteRow(this)"
                                        class="btn btn-danger test-case-delete">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        index++;
                    }
                }
                else
                {
                    <tr data-value="1">
                        <td class="mt-5">1</td>
                        <td>
                            <textarea class="testcase-io-input test-case-input form-control"
                                      name="testcase-input"></textarea>
                        </td>
                        <td>
                            <textarea class="testcase-io-input test-case-output form-control"
                                      name="testcase-output"></textarea>
                        </td>
                        <td>
                            <button type="button" onclick="deleteRow(this)"
                                    class="btn btn-danger test-case-delete">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td><button id="add-testcase-btn" type="button" class="btn btn-success">Thêm Testcase</button></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <button id="save" class="button-82-pushable" role="button" type="submit" style="width:20rem;">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
            CẬP NHẬT
        </span>
    </button>
</form>

<table id="row-clone" style="display: none;">
    <tr>
        <td class="mt-5"></td>
        <td>
            <textarea class="testcase-io-input test-case-input form-control" name="testcase-input"></textarea>
        </td>
        <td>
            <textarea class="testcase-io-input test-case-output form-control" name="testcase-output"></textarea>
        </td>
        <td>
            <button type="button" onclick="deleteRow(this)" class="btn btn-danger test-case-delete">Delete</button>
        </td>
    </tr>
</table>

@section Links {
    <link rel="stylesheet" href="~/css/exercise-create.css">
    <link rel="stylesheet" href="~/css/checkbox-extend.css">
    <link rel="stylesheet" href="~/css/button-extend.css">
     <style>

        #previewPane {
            border: 1px solid #ddd;
            padding: 10px;
            min-height: 300px;
            background-color: #fff;
            border-radius: 10px;
        }

        .nav-tabs .nav-link {
            display: flex;
            color: #007bff;
            font-weight: bold;
        }

            .nav-tabs .nav-link.active {
                color: #495057;
                background-color: #fff;
                border-color: 2px solid #dee2e6 #dee2e6 #fff;
            }
    </style>
}

@section Scripts {
    <script src="https://cdn.ckeditor.com/4.22.1/full/ckeditor.js"></script>
    <script>
        CKEDITOR.plugins.add('insertCustomHtml', {
            icons: 'insertCustomHtml',
            init: function(editor) {
                editor.ui.addButton('InsertCustomHtml', {
                    label: 'Chèn bảng mẫu',
                    command: 'insertHtmlCommand',
                    toolbar: 'insert',
                    icon: '/assets/icons/insert-table.svg' // hoặc icon tuỳ chọn
                });

                editor.addCommand('insertHtmlCommand', {
                    exec: function(editor) {
                        const htmlContent = `
                            <table align="center" border="1" cellpadding="1" cellspacing="1" style="width:500px">
                                <tbody>
                                    <tr>
                                        <td style="text-align:center"><strong>INPUT&nbsp;&nbsp;</strong></td>
                                        <td style="text-align:center"><strong>OUTPUT</strong></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        `;
                        editor.insertHtml(htmlContent);
                    }
                });
            }
        });

        CKEDITOR.replace('ex-content', {
            extraPlugins: 'justify,table,link,insertCustomHtml',
            height: 600,
            toolbar: [
                { name: 'document', items: ['Source', '-', 'NewPage', 'Preview', 'Print', '-', 'Templates'] },
                { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
                { name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'SpellChecker', 'Scayt'] },
                { name: 'forms', items: ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'] },
                '/',
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'] },
                { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language'] },
                { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                { name: 'insert', items: ['Image', 'Flash', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak', 'Iframe', 'InsertCustomHtml'] },
                '/',
                { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                { name: 'colors', items: ['TextColor', 'BGColor'] },
                { name: 'tools', items: ['Maximize', 'ShowBlocks'] },
                { name: 'others', items: ['Ruler'] }
            ]
        });
        CKEDITOR.instances['ex-content'].on('change', function () {
            updatePreview();
        });

        function updatePreview() {
            var content = CKEDITOR.instances['ex-content'].getData();
            const host = document.querySelector('#preview');
            host.innerHTML = ''; // Clear any non-shadow content (if any)

            // Get or create shadow root
            let shadowRoot = host.shadowRoot || host.attachShadow({ mode: 'open' });

            // Update shadow content
            const innerContent = `
             <style>
                        strong,b{
                            font-weight: 900;
                        }
                    </style>
                <div id="dependency">
                    ${content || '<p>Chưa có nội dung.</p>'}
                </div>`;
            shadowRoot.innerHTML = innerContent;
        }
        $(document).ready(function () {
            $('#preview-tab').on('shown.bs.tab', function () {
                updatePreview();
            });
        });
        setTimeout(()=>{
            setCheckboxSelectLabels();
        }, 500);
        function removeCKENotification(){
            try{
                $('.cke_notifications_area').remove();

                if($('.cke_notifications_area')){
                    setTimeout(removeCKENotification, 200);
                }
            }
            catch(e){
                setTimeout(removeCKENotification, 200);
            }
        }
        removeCKENotification();
    </script>

    @* Add or Remove Row Testcase *@
    <script>
        function resetIndexTable() {
            var list = $("#testcase-row-list tr");
            list.each(function (index, elem) {
                $(elem).attr('data-value', index + 1);
                $(elem).find('td').first().text(index + 1);
            });
        }
        document.getElementById("add-testcase-btn").addEventListener('click', function () {
            let newRow = $("#row-clone").find("tr").clone();
            $("#testcase-row-list").append(newRow);
            resetIndexTable();
        });

        function deleteRow(elem) {
            if ($("#testcase-row-list tr").length > 1) {
                $(elem).closest('tr').remove();
                resetIndexTable();
            } else {
                Swal.fire({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 1500,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    },
                    icon: "error",
                    title: "Phải tồn tại ít nhất 1 Testcase"
                });
            }
        }

        document.getElementById('ExerciseCode').addEventListener('input', function (e) {
            const regex = /^[a-zA-Z0-9\-_+*\/]*$/;
            const input = e.target.value;
            if (!regex.test(input)) {
                e.target.value = input.replace(/[^a-zA-Z0-9\-_+*\/]/g, '');
                Swal.fire({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    },
                    icon: "error",
                    title: "Mã bài không được tồn tại ký tự Tiếng Việt và khoảng trắng"
                });
            }
        });

        document.getElementById("IsExam").addEventListener('change', function () {
            const checked = this.checked;
            if (checked) {
                $(".select-option.access-option").each(function (index, elem) {
                    if ($(elem).val() == 1) {
                        $(elem).prop("selected", true);
                    } else {
                        $(elem).prop("selected", false);
                    }
                });
                $("#AccessRole").prop("disabled", true);
            } else {
                $("#AccessRole").prop("disabled", false);
            }
        });
    </script>

    @* Multiple selected system *@
    <script>
        $(function () {
            $('.toggle-next').click(function () {
                $(this).next('.checkboxes').slideToggle(400);
            });

            $('.ckkBox').change(function () {
                setCheckboxSelectLabels();
            });
        });

        function setCheckboxSelectLabels() {
            var parents = $('.select-types');
            $.each(parents, function (key, parent) {
                var checkboxes = $(parent).find('.ckkBox');
                var prevText = '';
                var numberOfChecked = $(parent).find('input:checkbox:checked').length;
                var button = $(parent).find('button');

                if (numberOfChecked === 0) {
                    $(button).text("---Chọn dạng bài---");
                } else {
                    $.each(checkboxes, function (i, checkbox) {
                        if ($(checkbox).prop('checked') == true) {
                            var text = $(checkbox).parent().parent().next().html();
                            var btnText = prevText + text;
                            if (numberOfChecked >= 4) {
                                btnText = numberOfChecked + ' ' + "Dạng bài" + ' được chọn';
                            }
                            $(button).text(btnText);
                            prevText = btnText + ', ';
                        }
                    });
                }
            });
        }
    </script>

    @* Save Event *@
    <script>
        function getExerciseTypes() {
            let result = [];
            $('.select-types').find('input:checkbox:checked').each(function () {
                var type = {
                    ExerciseTypeId: parseInt($(this).val()),
                    ExerciseId: parseInt($("#Id").val())
                }
                result.push(type);
            });
            return result;
        }

        function getAllTestCases() {
            let result = [];
            let list = $("#testcase-row-list tr");
            list.each(function (index, elem) {
                var testcase = {
                    Position: $(elem).find('td').first().text(),
                    Input: $(elem).find('.test-case-input').val(),
                    Output: $(elem).find('.test-case-output').val()
                };
                result.push(testcase);
            });
            return result;
        }

        $("#save").on('click', function (event) {
            event.preventDefault();
            if ($('.select-types').find('input:checkbox:checked').length == 0) {
                Swal.fire({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    },
                    icon: "error",
                    title: "Hãy chọn dạng bài"
                });
            } else if ($("#ExerciseCode").val() == "") {
                Swal.fire({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    },
                    icon: "error",
                    title: "Mã bài không được để trống"
                });
            } else {
                let model = {
                    Id: parseInt($("#Id").val()),
                    ExerciseCode: $("#ExerciseCode").val(),
                    ExerciseName: $("#ExerciseName").val(),
                    ExerciseContent: CKEDITOR.instances['ex-content'].getData(),
                    InputFile: $("#InputFile").val(),
                    OutputFile: $("#OutputFile").val(),
                    NumberTestcase: $("#testcase-row-list tr").length,
                    KindMarking: $("#KindMarking").val(),
                    TypeMarking: $("#TypeMarking").val(),
                    DifficultyId: parseInt($("#Difficulty").val()),
                    ChapterId: parseInt($("#Chapter").val()),
                    AccessId: parseInt($("#AccessRole").val()),
                    IsExam: $("#IsExam").prop("checked"),
                    RuntimeLimit: parseInt($("#RuntimeLimit").val()),
                    UserCreatedId: 0,
                    ExerciseBelongTypes: getExerciseTypes(),
                    TestCases: getAllTestCases(),
                    IsAccept: @Model.IsAccept.ToString().ToLower()
                }
                Swal.fire({
                    title: 'Đang xử lý...',
                    text: 'Vui lòng chờ giây lát',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
                $.ajax({
                    url: '/Exercise/Edit',
                    method: 'post',
                    data: { model: model },
                    success: function (response) {
                        Swal.close();
                        if (response.status) {
                            Swal.fire({
                                icon: "success",
                                title: "Cập nhật bài tập thành công!",
                                showConfirmButton: false,
                                timer: 2000
                            });
                            setTimeout(function () {
                                window.location.href = response.redirect;
                            }, 2000);
                        } else {
                            Swal.fire("Cập nhật thất bại!", response.error, "error");
                        }
                    },
                    error: function (error) {
                        Swal.close();
                        Swal.fire("Cập nhật thất bại!", error.responseText || "Lỗi không xác định", "error");
                    }
                });
            }
        });
    </script>
}