@{
    ViewData["Title"] = "Bài tập";
    var kindMarkings = ViewBag.KindMarking as IEnumerable<SelectListItem>;
    var typeMarkings = ViewBag.TypeMarking as IEnumerable<SelectListItem>;
    var difficults = ViewBag.Difficults as IEnumerable<SelectListItem>;
    var chapters = ViewBag.Chapters as IEnumerable<SelectListItem>;
    var exerciseType = ViewBag.ExerciseType as IEnumerable<SelectListItem>;
}

<div id="codepad" class="m-5 flex-center flex-column">
    <h1 class="title text-center">
        <b>DANH SÁCH BÀI TẬP</b>
    </h1>

    <div class="container flex-center flex-wrap justify-content-between">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Exercise">Tạo Bài tập</a>
        <button id="show-filter" class="btn ml-2 btn-outline-info">LỌC</button>
    </div>
    <form asp-action="Index" asp-controller="Exercise" method="get" id="filter" class="container animation-hidden">
        <div class="row pt-4">
            <div class="col-12 col-md-6">
                <input type="hidden" id="p" name="p" value="1" />
                <input type="hidden" id="s" name="s" />
                <div class="form-group">
                    <label for="Search" class="text-primary form-label"><b>Tìm kiếm:</b></label>
                    @Html.TextBox("key", null, new { id = "Search", @class = "form-control", placeholder = "Nhập mã bài hoặc tên bài" })
                </div>
                <div class="form-group">
                    <label class="text-primary form-label">Thể loại chấm</label>
                    @Html.DropDownList("kM", kindMarkings, "-- Tất cả --", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="text-primary form-label">Cách chấm chấm</label>
                    @Html.DropDownList("tM", typeMarkings, "-- Tất cả --", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label class="text-primary form-label">Độ khó</label>
                    @Html.DropDownList("dId", difficults, "-- Tất cả --", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="text-primary form-label">Chương</label>
                    @Html.DropDownList("cId", chapters, "-- Tất cả --", new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="text-primary form-label">Dạng bài</label>
                    @Html.DropDownList("etId", exerciseType, "-- Tất cả --", new { @class = "form-control" })
                </div>
            </div>
            <div class="text-center mt-3">
                <a asp-action="Index" class="btn btn-secondary">CLEAR</a>
                <button class="btn btn-info">TÌM KIẾM</button>
            </div>
        </div>
    </form>
    <div class="container mt-3 mb-3 table-responsive list">
        <table id="listcodepad" class="table table-hover table-border table-striped ml-5 mr-3">
            <tbody>
                <tr>
                    <td colspan="7" class="flex justify-content-center gap-4 align-items-center">
                        <div class="loaderBar"></div>
                        <h5>Loading.....</h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="~/css/codepad-index.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
}

@section Scripts {
    <script>
        const loadingTable=$('.list').html();
        // Hàm tiện ích để thêm tham số vào URL
        function addParamToCurrentUrl(key, value) {
            const url = new URL(window.location.href);
            if (value && value !== "null") {
                url.searchParams.set(key, value);
            } else {
                url.searchParams.delete(key);
            }
            window.history.pushState({}, '', url);
        }

        function getParamFromCurrentUrl(key) {
            const urlObj = new URL(window.location.href);
            return urlObj.searchParams.get(key);
        }

        $('#show-filter').on('click', function () {
            $('#filter').toggleClass('animation-visible animation-hidden');
        });

        async function loadListFormParams() {
            let p = getParamFromCurrentUrl('p') || 1;
            let s = getParamFromCurrentUrl('s') || 10;
            let key = getParamFromCurrentUrl('key') || '';
            let dId = getParamFromCurrentUrl('dId') || null;
            let cId = getParamFromCurrentUrl('cId') || null;
            let etId = getParamFromCurrentUrl('etId') || null;
            let tM = getParamFromCurrentUrl('tM') || null;
            let kM = getParamFromCurrentUrl('kM') || null;
            let sortBy = getParamFromCurrentUrl('sortBy') || null;
            let sortOrder = getParamFromCurrentUrl('sortOrder') || null;
            $('#s').val(s);
            await loadList(p, s, key, dId, cId, etId, tM, kM, sortBy, sortOrder);
        }

        $(document).ready(function () {
            loadListFormParams();

            // Xử lý sự kiện click vào nút sắp xếp
            $(document).on('click', '.sort-icon', function () {
                const column = $(this).data('column');
                const order = $(this).data('order');
                addParamToCurrentUrl('sortBy', column);
                addParamToCurrentUrl('sortOrder', order);
                loadListFormParams();
            });
        });

        $('#filter').submit(function (event) {
            event.preventDefault();
            let p = 1;
            let s = $('#s').val() || 10;
            let key = $('#Search').val() || '';
            let dId = $('#dId').val() || null;
            let cId = $('#cId').val() || null;
            let etId = $('#etId').val() || null;
            let tM = $('#tM').val() || null;
            let kM = $('#kM').val() || null;
            let sortBy = getParamFromCurrentUrl('sortBy') || null;
            let sortOrder = getParamFromCurrentUrl('sortOrder') || null;
            loadList(p, s, key, dId, cId, etId, tM, kM, sortBy, sortOrder);
        });

        async function setPage(p) {
            let s = getParamFromCurrentUrl('s') || 10;
            let key = getParamFromCurrentUrl('key') || '';
            let dId = getParamFromCurrentUrl('dId') || null;
            let cId = getParamFromCurrentUrl('cId') || null;
            let etId = getParamFromCurrentUrl('etId') || null;
            let tM = getParamFromCurrentUrl('tM') || null;
            let kM = getParamFromCurrentUrl('kM') || null;
            let sortBy = getParamFromCurrentUrl('sortBy') || null;
            let sortOrder = getParamFromCurrentUrl('sortOrder') || null;
            await loadList(p, s, key, dId, cId, etId, tM, kM, sortBy, sortOrder);
        }

        async function changePageSize(elem) {
            let key = getParamFromCurrentUrl('key') || '';
            let dId = getParamFromCurrentUrl('dId') || null;
            let cId = getParamFromCurrentUrl('cId') || null;
            let etId = getParamFromCurrentUrl('etId') || null;
            let tM = getParamFromCurrentUrl('tM') || null;
            let kM = getParamFromCurrentUrl('kM') || null;
            let sortBy = getParamFromCurrentUrl('sortBy') || null;
            let sortOrder = getParamFromCurrentUrl('sortOrder') || null;
            $('#s').val($(elem).find("option:selected").val());
            await loadList(1, $(elem).find("option:selected").val(), key, dId, cId, etId, tM, kM, sortBy, sortOrder);
        }

        async function loadList(p, s, key, dId, cId, etId, tM, kM, sortBy, sortOrder) {
            $('.list').html(loadingTable);
            addParamToCurrentUrl('p', p);
            addParamToCurrentUrl('s', s);
            addParamToCurrentUrl('key', key);
            addParamToCurrentUrl('dId', dId);
            addParamToCurrentUrl('cId', cId);
            addParamToCurrentUrl('etId', etId);
            addParamToCurrentUrl('tM', tM);
            addParamToCurrentUrl('kM', kM);
            addParamToCurrentUrl('sortBy', sortBy);
            addParamToCurrentUrl('sortOrder', sortOrder);

            await $.ajax({
                url: '@Url.Action("_GetList", "Exercise")',
                data: { p: p, s: s, key: key, dId: dId, cId: cId, etId: etId, tM: tM, kM: kM, sortBy: sortBy, sortOrder: sortOrder },
                method: 'GET',
                success: function (data) {
                    $('.list').html(data);
                },
                error: function (xhr, status, error) {
                    console.error("Failed to load codepads:", error);
                    $('.list').html('<tr><td colspan="7" class="text-center text-danger">Error loading codepads. Please try again.</td></tr>');
                }
            });
        }

        async function deleteRow(id) {
            if (await confirmAction()) {
                $.ajax({
                    url: '@Url.Action("Delete", "Exercise")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.status) {
                            showToast("success", "Xóa thành công!");
                            loadListFormParams();
                        } else {
                            alert("Xóa thất bại: " + response.message);
                        }
                    },
                    error: function () {
                        alert("Đã xảy ra lỗi khi xóa bài tập.");
                    }
                });
            }
        }

        $(function () {
            $(document).on('click', '.menu-toggle', function (e) {
                e.stopPropagation();
                console.log("Dropdown clicked");
                $('.dropdown-menu-custom').not($(this).next()).hide();
                $(this).next('.dropdown-menu-custom').toggle();
            });

            $(document).on('click', function () {
                $('.dropdown-menu-custom').hide();
            });

            $(document).on('click', '.dropdown-menu-custom', function (e) {
                e.stopPropagation();
            });
        });
    </script>
}