@using HMCodingWeb.ViewModels;
@model IEnumerable<Exercise>;
@{
    int index = 1;
}


<section id="main">
    <div id="title">
        <h1>DANH SÁCH BÀI TẬP</h1>
    </div>
    <div id="filter" class="mt-3">
        <a asp-action="Create" asp-controller="Exercise">
            <button id="create-code" class="button-29" role="button" style="height: 40px;">Thêm bài tập</button>
        </a>
        <div id="searching-zone">
            <span><b>Tìm kiếm:</b></span>
            <input type="text" id="searchInput" placeholder="Nhập để tìm kiếm..." class="form-control"
                style="width:80%;">
        </div>
    </div>
    <table id="ex-list-table" class="table table-hover table-striped collapsed">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã bài</th>
                <th scope="col">Tên bài</th>
                <th scope="col">Độ khó</th>
                <th scope="col">Dạng bài</th>
                <th scope="col">Bài làm đúng</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var ex in Model)
                {
                    <tr data-value="@ex.Id">
                        <td scope="row">
                            <a href="/Exercise/Code/?id=@ex.Id">@index</a>
                        </td>
                        <td>
                            <a href="/Exercise/Code/?id=@ex.Id">@ex.ExerciseCode</a>
                        </td>
                        <td>
                            <a href="/Exercise/Code/?id=@ex.Id">@ex.ExerciseName</a>
                        </td>
                        <td>
                            <a href="/Exercise/Code/?id=@ex.Id">@ex.Difficulty.DifficultyName</a>
                        </td>
                        <td>
                            @string.Join(", ", @ex.ExerciseBelongTypes.Select(ebt => ebt.ExerciseType.TypeName).ToList())
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    index++;
                }
            }
        </tbody>
    </table>
</section>


@section Links {
    <link rel="stylesheet" href="~/css/exercise-list.css">
    <link rel="stylesheet" href="~/css/button-extend.css">
}

@section Scripts {
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            let filter = this.value.toLowerCase();
            let rows = document.querySelectorAll('#ex-list-table tbody tr');
            rows.forEach(function (row) {
                let listtd = $(row).find('td');
                let fileName = listtd.eq(1).text() + listtd.eq(2).text() + listtd.eq(3).text();
                fileName = fileName.toLowerCase();
                if (fileName.includes(filter)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>
}