@model User

@{
    ViewData["Title"] = Model.Fullname;
    var lastOnline = ViewBag.LastOnline as string;
    var authName = new Dictionary<string, string>
    {
        { "admin", "Quản trị viên" },
        { "teacher", "Giáo viên" },
        { "hsgstudent", "Học sinh giỏi" },
        { "student", "Người dùng" },
        { "", "Người dùng" } // Default case for empty or unknown auth code}
    };
    var className = new Dictionary<string, string>
    {
        { "admin", "badge bg-danger" },
        { "teacher", "badge bg-success" },
        { "hsgstudent", "badge bg-info" },
        { "student", "badge bg-secondary" },
        { "", "badge bg-secondary" } // Default case for empty or unknown auth code
    };
}

@section Links {

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/user-details.css"  asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/rank.css" asp-append-version="true" />
}

<div id="user-detail-container" class="container">
    <div class="row">
        <!-- User Information -->
        <div class="col-12 col-lg-4 mt-3">
            <div class="user-card card">
                <div class="card-header">
                    <h3>THÔNG TIN</h3>
                    
                </div>
                <div class="card-body">
                    <div class="avatar-wrapper position-relative d-inline-block">
                        @if (Model.AvartarImage != null)
                        {
                            <img src="/api/avatar/@(Model.Id)?v=@(DateTime.Now.Ticks)"
                                 class="img-fluid rounded-circle avatar-img"
                                 alt="User Avatar" />
                        }
                        else
                        {
                            <img src="~/assets/images/avartardefault.jpg"
                                 class="img-fluid rounded-circle avatar-img"
                                 alt="Default Avatar" />
                        }

                        @if (!string.IsNullOrEmpty(lastOnline) && ViewBag.LastOnline.ToString() == "Online")
                        {
                            <span class="online-dot"></span>
                        }
                        else if (!string.IsNullOrEmpty(lastOnline))
                        {
                            <span class="offline-badge badge text-dark rounded-1">
                                <i class="fa-regular fa-clock"></i>
                                @lastOnline trước
                            </span>
                        }
                    </div>


                    <h3 class="text-success">@Model.Fullname</h3>

                    

                    <!--Authentication info-->

                    <div class="@className[Model.Auth.AuthCode]">@authName[Model.Auth.AuthCode]</div>

                    <div class="info-item mt-2"><strong><i class="fas fa-user me-2"></i>Username:</strong> @Model.Username</div>
                    <div class="info-item"><strong><i class="fas fa-envelope me-2"></i>Email:</strong> @Model.Email</div>
                    @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                    {
                        <div class="info-item"><strong><i class="fas fa-phone me-2"></i>SĐT:</strong> @Model.PhoneNumber</div>
                    }
                    @if (Model.Birthday.HasValue)
                    {
                        <div class="info-item"><strong><i class="fas fa-birthday-cake me-2"></i>Ngày sinh:</strong> @Model.Birthday.Value.ToString("dd/MM/yyyy")</div>
                    }
                    <div class="info-item"><strong><i class="fas fa-code me-2"></i>Ngôn ngữ:</strong> @Model.ProgramLanguage?.ProgramLanguageName</div>
                    <div class="info-item"><strong><i class="fa-solid fa-palette me-2"></i>Theme:</strong> @Model.ThemeCode?.ThemeCode</div>

                    @if ((long)ViewBag.OwnUserId == Model.Id)
                    {
                        <a asp-action="EditProfile" asp-controller="UserInfo" class="btn btn-primary mt-3">
                            <i class="fas fa-edit me-2"></i>Chỉnh sửa
                        </a>
                    }
                    else
                    {
                        <a asp-action="View" asp-controller="CodePad" asp-route-id="@Model.Id" class="btn rounded-2 btn-warning mt-3">
                            <i class="fa-solid fa-code me-2"></i>Xem Codepad
                        </a>
                        <!--Chat To User button-->
                        <a asp-action="ChatTo" asp-controller="Message" asp-route-userId="@Model.Id" class="btn rounded-2 btn-info mt-3">
                            <i class="fa-solid fa-comment-dots me-2"></i>Chat
                        </a>
                    }
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-8 mt-3">
            <!-- Rank Info Card -->
            <div class="rank-card card">
                <div class="card-header">
                    <h3>MỨC HẠNG</h3>
                </div>
                <div class="card-body">
                    <div class="medal-card @Model.Rank?.RankCode" onclick="window.location.href='/rank?id=@(Model.RankId)'">
                        <div class="medal-icon">
                            <img class="@Model.Rank?.RankCode rank-icon-img"  src="~/assets/rankicon/@(Model.Rank?.RankCode ?? "unranked").png" />
                        </div>
                        <h3 class="mt-2 rank-text @Model.Rank?.RankCode">@(ViewBag.CurrentRank?.RankName ?? "Unranked")</h3>
                        <strong class="rank-description m-0 p-0">Điểm @Model.Point</strong>
                    </div>
                    @if (ViewBag.NextRank != null)
                    {

                        var nextRank = ViewBag.NextRank as Rank;
                        long pointsNeeded = (nextRank?.MinLimitPoint ?? 0) - Model.Point;
                        int progressPercentage = Math.Min(100, (int)((double)Model.Point / ViewBag.NextRank.MinLimitPoint * 100));
                        var difficulties = ViewBag.Difficulties as List<DifficultyLevel>;

                        <div class="next-rank-info">
                            <p>Rank tiếp theo: <strong><a class="text-info" asp-action="Index" asp-controller="Rank" asp-route-id="@nextRank?.Id">@ViewBag.NextRank.RankName</a></strong></p>
                            
                            @if (pointsNeeded > 0)
                            {
                                <p>Cần thêm <strong>@pointsNeeded</strong> điểm để lên rank tiếp theo.</p>
                            }
                            @if (ViewBag.MissingPrerequisites != null && ViewBag.MissingPrerequisites.Count > 0)
                            {
                                <ul class="prerequisites-list">
                                    @foreach (var pr in ViewBag.MissingPrerequisites)
                                    {
                                        var difficulty = difficulties?.FirstOrDefault(d => d.Id == pr.Key)?.DifficultyName ?? "Độ khó " + pr.Key;
                                        <p>Cần thêm <strong>@pr.Value</strong> bài tập mức <strong>@difficulty</strong></p>
                                    }
                                </ul>
                            }
                            <div class="progress" bis_skin_checked="1">
                                <div class="progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" style="width: @progressPercentage%;" aria-valuenow="@progressPercentage" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="next-rank-info">
                            <p>Đã đạt <strong>rank cao nhất</strong>!</p>
                        </div>
                    }
                </div>
            </div>

        </div>

       

    </div>
     <!-- Exercises List -->
    <div class="row mt-3">
        <div class="col-12 mt-3">
            <div class="exercises-card card">
                <div class="card-header">
                    <h3>Bài tập đã hoàn thành <strong class="completed-ex-num"></strong></h3>
                </div>
                <div class="card-body table-responsive">
                    <table id="table-data" class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th><i class="fas fa-id-badge me-2"></i>Mã bài</th>
                                <th><i class="fas fa-file-alt me-2"></i>Tên bài</th>
                                <th><i class="fas fa-tachometer-alt me-2"></i>Độ khó</th>
                                <th><i class="fas fa-clock me-2"></i>Lần đầu chấm</th>
                                <th><i class="fas fa-check-circle me-2"></i>Lần đầu đúng</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var table = $('#table-data').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "ajax": {
                "url": '@Url.Action("_GetCompletedExByUser", "Exercise")',
                "data": function (d) {
                    d.keyword = $('input[type="search"]').val();
                    d.userId = `@Model.Id` || null;
                },
                "type": "POST",
                "dataSrc": function (json) {
                    $('.completed-ex-num').text(json.recordsTotal + ' bài');
                    return json.data;
                }
            },
            "pageLength": 5,
            "lengthMenu": [5, 10, 25, 50, 100],
            "order": [[4, "desc"]],
            "columns": [
                {
                    "data": "exerciseCode",
                    "render": function (data, type, row) {
                        return `<a href="/exercise/code/${row.id}?viewCode=True">${data}</a>`;
                    }
                },
                {
                    "data": "exerciseName",
                    "render": function (data, type, row) {
                        return `<a href="/exercise/code/${row.id}?viewCode=True">${data}</a>`;
                    }
                },
                { "data": "difficulty" },
                { "data": "firstMarkingTime" },
                { "data": "firstCorrectMarkingTime" }
            ],
            "language": {
                "emptyTable": "Không có dữ liệu",
                "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ mục",
                "infoEmpty": "Hiển thị 0 đến 0 trong tổng số 0 mục",
                "infoFiltered": "(được lọc từ tổng số _MAX_ mục)",
                "lengthMenu": "Hiển thị _MENU_ mục",
                "search": "Tìm kiếm:",
                "zeroRecords": "Không tìm thấy kết quả"
            }
        });

        $(document).on('click', '.rank', function() {
            window.location.href = `/rank`;
        });

        @if ((long)ViewBag.OwnUserId == Model.Id)
        {
            <text>
                                $(document).ready(function () {
                                    $.ajax({
                                        url: '/UserInfo/GetAvatar',
                                        type: 'GET',
                                        success: function (response) {
                                            if (response.status) {
                                                if (response.avatar) {
                                                    localStorage.setItem("UserAvatar", response.avatar);
                                                    $("#userAvatar").attr("src", "data:image/jpeg;base64," + response.avatar);
                                                } else {
                                                    localStorage.removeItem("UserAvatar");
                                                    $("#userAvatar").attr("src", "/assets/images/avartardefault.jpg");
                                                }
                                            } else {
                                                localStorage.removeItem("UserAvatar");
                                                $("#userAvatar").attr("src", "/assets/images/avartardefault.jpg");
                                            }
                                        },
                                        error: function () {
                                            console.log("Failed to load avatar.");
                                            $("#userAvatar").attr("src", "/assets/images/avartardefault.jpg");
                                        }
                                    });
                                });
            </text>
        }
    </script>
}