@using Microsoft.AspNetCore.Http
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var avatar = Context.Session.GetString("UserAvatar");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/lib/bootstrap/theme/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap.extend.css">
    <link rel="stylesheet" href="~/lib/sweetalert2/themes/minimal/minimal.min.css">
    <link rel="stylesheet" href="~/css/button-extend.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/rank.css" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-WMi+Ec+QE8hxW/3qKvuefShIddYjwMalSgy0MR4FZnl285C4HGYfISceaagw0Am3" crossorigin="anonymous">
    <link rel="icon" href="~/assets/icons/logo.png" />

    @RenderSection("Links", required: false)

    <title>HM Coding</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">HM Coding</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarColor01" style="">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Home" && currentAction == "Index" ? "active" : "")" asp-action="Index" asp-controller="Home">
                                Trang chủ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "CodePad" ? "active" : "")" asp-action="Index" asp-controller="Codepad">Codepad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Exercise" ? "active" : "")" asp-action="Index" asp-controller="Exercise">Bài tập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Marking" ? "active" : "")" asp-action="Index" asp-controller="Marking">Bảng chấm bài</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(currentController == "Rank" && currentAction=="RankingList" ? "active" : "")" asp-action="RankingList" asp-controller="Rank">Xếp hạng</a>
                        </li>
                        
                    </ul>
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="nav-item dropdown mt-1" style="z-index:1001;">
                            <a class="nav-link dropdown-toggle text-success @(currentController == "User" ? "active" : "")" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                                <img id="userAvatar"
                                     src="@(avatar != null ? $"data:image/jpeg;base64,{avatar}" : "/assets/images/avartardefault.jpg")"
                                     class="rounded-circle me-2"
                                     style="width: 30px; height: 30px; object-fit: cover;"
                                     alt="User Avatar" />

                                @User.FindFirst(ClaimTypes.Name)?.Value
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-route-id="" asp-action="Details" asp-controller="User">Thông tin tài khoản</a>
                                @if (User.IsInRole("admin") || User.IsInRole("teacher"))
                                {
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Home" asp-area="Admin">Tới trang quản lý</a>
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" asp-action="Logout" asp-controller="User">Đăng xuất</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="nav-item mt-2">
                            <a class="nav-link text-info" asp-action="Login" asp-controller="User">Đăng nhập</a>
                        </div>
                        <div class="nav-item mt-2">
                            <a class="nav-link text-info" asp-action="Signup" asp-controller="User">Đăng ký</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
        @RenderBody()
    </main>

    <div id="footer">
        <img src="~/assets/images/ToanhaA-01.png" alt="">
        <div class="container">
            <p class="address1" style="display:flex;align-items:center;justify-content:center; gap:0.7rem;">Tác giả: Nguyễn Văn Hậu</p>
            <p class="address2" style="display:flex;align-items:center;justify-content:center; gap:0.7rem;">Khoa Công nghệ Thông tin - Đại học Sư phạm TP. Hồ Chí Minh</p>
            <div class="phonenumber mt-0" style="display:flex;align-items:center;justify-content:center; gap:0.7rem;">
                <p>Liên hệ: 0944746748</p>
                <p>Email: haunv.cntt@gmail.com</p>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/js/sweetalert2-extend.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://kit.fontawesome.com/0f2d543076.js" crossorigin="anonymous"></script>

@*     @if (User.Identity?.IsAuthenticated ?? false)
    {
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '/User/GetAvatar',
                    type: 'GET',
                    success: function (response) {
                        if (response.status && response.avatar) {
                            $("#userAvatar").attr("src", "data:image/jpeg;base64," + response.avatar);
                        }
                    },
                    error: function () {
                        console.log("Failed to load avatar.");
                    }
                });
            });
        </script>
    } *@

    @if (TempData["UserLogin"] != null)
    {
        <script id="tempShowToast">
            setTimeout(function () {
                showToast("success", "Đăng nhập thành công", 3000);
                $("#tempShowToast").remove();
            }, 100);
        </script>
    }
    @{
        TempData.Remove("UserLogin");
    }

    @RenderSection("Scripts", required: false)
</body>
</html>