@model List<Rank>

@{
    ViewData["Title"] = "Danh Sách Hạng";
    var currentRankId = ViewBag.CurrentRankId as long?;
}

@section Links {
    <link rel="stylesheet" href="~/css/rank.css?v=5" />
    <link rel="stylesheet" href="~/css/rank-list.css?v=5" />
    
}

<div class="rank-container">
    <div id="rankCarousel" class="container carousel slide">
        <div class="carousel-inner px-lg-5 px-2 py-4">
            @for (int i = 0; i < Model.Count; i++)
            {
                var rank = Model[i];
                <div class="carousel-item @(rank.Id == currentRankId ? "active" : "") p-2 h-100">
                    <div class="rank-card rank-@rank.RankCode.ToLower()">
                        <img src="~/assets/rankicon/@(rank.RankCode.ToLower()).png" class="rank-icon-img @rank.RankCode" alt="@rank.RankName Icon" />
                        <div class="rank-name rank-text @rank.RankCode">@rank.RankName</div>
                        <div class="rank-description">
                            <strong>Điều kiện:</strong>
                            @if (!string.IsNullOrEmpty(rank.Description))
                            {
                                <p class="rank-description">@rank.Description</p>
                            }
                            
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#rankCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#rankCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@section Scripts {
}