@model IEnumerable<HMCodingWeb.Areas.Admin.Models.RankViewModel>

@{
    ViewData["Title"] = "Danh sách Rank";
}
@section Links {
    <link rel="stylesheet" href="~/css/course.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
<div class="container">
    <div class="table-container m-4 table-responsive">
        <h4 class="text-center mb-4 mt-2 text-danger" style="font-size:30px;font-weight:bold;">DANH SÁCH RANK</h4>
        <div class="d-flex justify-content-start mb-3 align-items-center flex-wrap gap-2">
            <button class="btn btn-primary btn-update-all">Cập nhật rank tất cả</button>
            <a data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-add-course">Cập nhật Rank một User</a>

        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th class="text-light">Id</th>
                    <th class="text-light">Mã Rank</th>
                    <th class="text-light">Tên Rank</th>
                    <th class="text-light">Số người đạt</th>
                    <th class="text-light">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rank in Model)
                {
                    <tr>
                        <td>@rank.Id</td>
                        <td>@rank.RankCode</td>
                        <td>@rank.RankName</td>
                        <td>@rank.UserCount</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@rank.Id" class="btn btn-sm btn-primary">Sửa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Cập nhật rank user</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <div class="form-group d-flex flex-column">
                    <label for="" class="form-label">Nhập Username</label>
                    <select id="user-select" class="select2 w-100 form-control">
                    </select>

                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-update" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('.btn-update-all').on('click', function (event){
            event.preventDefault();
            if (confirm("Bạn có chắc muốn cập nhật rank cho tất cả người dùng?")) {
                Swal.fire({
                    title: 'Đang xử lý...',
                    text: 'Vui lòng chờ giây lát',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
                $.ajax({
                    url: '@Url.Action("UpdateAllRanks", "Rank")',
                    type: 'POST',
                    success: function (response) {
                        Swal.close();
                        alert("Cập nhật rank thành công!");
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        Swal.close();
                        alert("Đã xảy ra lỗi khi cập nhật rank: " + error);
                    }
                });
            }
        });


        $(document).ready(function () {
            $('#myModal').on('shown.bs.modal', function () {
                $('#user-select').select2({
                    placeholder: 'Tìm kiếm user...',
                    minimumInputLength: 3,
                    dropdownParent: $('#myModal'),
                    ajax: {
                        url: '/admin/user/getuserbyusername',
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                id: params.term
                            };
                        },
                        processResults: function (data) {
                            return {
                                results: data.map(function (user) {
                                    return {
                                        id: user.id,
                                        text: `${user.id} - ${user.username}`
                                    };
                                })
                            };
                        },
                        cache: true
                    }
                });
            });
            $('#user-select').on('select2:select', function (e) {
                var data = e.params.data; // Lấy dữ liệu của option được chọn
                console.log('Selected:', data);
            });
            $('#btn-update').on('click', function () {
                var id = $('#user-select').val();
                Swal.fire({
                    title: 'Đang xử lý...',
                    text: 'Vui lòng chờ giây lát',
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });
                $.ajax({
                    url: '@Url.Action("UpdateRankUser", "Rank", new { area = "Admin" })',
                    method: 'post',
                    data: {id},
                    success: function (response) {
                        Swal.close();
                        if (response.status) {
                            showAlert("success", "Cập nhật thành công", response.message);
                        } else {
                            showAlert("error", "Tạo thất bại", response.error);
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.close();
                        showAlert("error", "Lỗi", "Đã xảy ra lỗi khi cập nhật rank: " + error);
                    }
                })
            });
         });
    </script>
}